/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}
.center {
  max-width: 980px;
  margin: 0 auto;
}
.margin3tl {
  margin-top: 3%;
  margin-left: 3%;
}
.flex-class {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-prop-mixin {
  color: black;
  font-size: 1.6rem;
  text-decoration: none;
}
body .wrapper {
  max-width: 980px;
  margin: 0 auto;
  line-height: 1.2;
  background: #fff;
}
@media (max-width: 500px) {
  body .wrapper {
    text-align: center;
    margin-right: 3%;
  }
}
body header {
  margin-top: 2%;
  margin-bottom: 4%;
}
body header nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
@media (max-width: 500px) {
  body header nav {
    justify-content: center;
  }
}
body header nav ul {
  display: flex;
  justify-content: space-between;
  width: 40%;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  body header nav ul {
    width: 100%;
    flex-flow: column;
    text-align: center;
  }
}
body header nav ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
}
body .main-container {
  justify-content: space-between;
  margin-right: 3%;
  background: #9c9a9a;
  width: 100%;
  display: flex;
  flex-flow: column;
  padding-bottom: 7%;
}
@media (max-width: 500px) {
  body .main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1%;
  }
}
body .main-container .main-photo {
  margin-top: 7%;
  margin-left: 3%;
  margin-right: 3%;
}
@media (max-width: 500px) {
  body .main-container .main-photo img {
    clip-path: polygon(0% 0%, 100% 3%, 98% 99%, 3% 93%);
  }
}
body .main-container .h1-container {
  max-width: auto;
  margin-left: 3%;
}
@media (max-width: 500px) {
  body .main-container .h1-container {
    margin-right: 3%;
  }
}
body .main-container .h1-container h1 {
  margin-top: 1%;
  font-size: 5.8rem;
}
body .main-container .h1-container h2 {
  font-size: 2.3rem;
  line-height: 2.5;
  color: #1c0083;
}
body .main-container .h1-container button {
  font-size: 1.3rem;
  color: white;
  background: #808080;
  border-radius: 5px;
  padding: 1%;
  margin-top: 2%;
}
body .main-container .h1-container button:hover {
  background: #cdcdcd;
  color: #191919;
}
body .main-container p {
  border-top: 1px solid #968686;
  margin-right: 3%;
  padding-top: 2%;
  font-size: 1.5rem;
  color: #333;
}
body .middle-container {
  margin-top: 3%;
  margin-left: 3%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  body .middle-container {
    flex-flow: column;
    align-items: center;
    width: 100%;
  }
}
body .middle-container .listen-up {
  width: 48%;
  font-size: 1.8rem;
}
body .middle-container .listen-up h2 {
  margin-bottom: 3%;
  font-size: 1.8rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  body .middle-container .listen-up {
    margin-bottom: 3%;
    width: 90%;
  }
}
body .middle-container .stuff-good {
  display: flex;
  flex-flow: column;
  text-align: center;
  margin-right: 5%;
  width: 40%;
}
body .middle-container .stuff-good h3 {
  margin-bottom: 3%;
}
@media (max-width: 500px) {
  body .middle-container .stuff-good {
    width: 40%;
  }
}
body .middle-container .stuff-good p {
  border: 1px solid #968686;
  border-radius: 3px;
  font-size: 1.8rem;
  padding: 2%;
}
@media (max-width: 500px) {
  body .middle-container .stuff-good p {
    margin: 3% 3%;
  }
}
body .middle-container .stuff-good p:nth-child(odd) {
  border: 1px solid #968686;
}
body .middle-container .stuff-good h3 {
  font-size: 1.8rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  body .middle-container .stuff-good {
    margin-top: 3%;
    width: 100%;
  }
}
body .bottom-section {
  margin-right: 3%;
  display: flex;
  justify-content: space-between;
}
body .bottom-section .table-container {
  width: 100%;
  margin-top: 3%;
  margin-left: 3%;
}
body .bottom-section .table-container h3 {
  font-size: 1.8rem;
  font-weight: bold;
}
body .bottom-section .table-container table {
  font-size: 1.5rem;
  margin-top: 1%;
  width: 100%;
  border-collapse: collapse;
}
@media (max-width: 500px) {
  body .bottom-section .table-container table {
    text-align: center;
  }
}
body .bottom-section .table-container table th {
  font-weight: bold;
}
body .bottom-section .table-container table td,
body .bottom-section .table-container table th {
  text-align: left;
  padding: 8px;
}
@media (max-width: 500px) {
  body .bottom-section .table-container table td,
  body .bottom-section .table-container table th {
    text-align: center;
  }
}
body .bottom-section .table-container table tr:nth-child(even) {
  background-color: #968686;
}
@media (max-width: 500px) {
  body .bottom-section .table-container table .gone {
    display: none;
  }
}
body footer {
  font-size: 1.3rem;
  margin-right: 3%;
  margin-top: 3%;
  margin-left: 3%;
  background: #968686;
}
body footer address {
  font-size: 1.6rem;
}
body footer address h5 {
  font-weight: bold;
}
body footer address p {
  text-align: left;
}
@media (max-width: 500px) {
  body footer address p {
    text-align: center;
  }
}
body footer address p a {
  text-decoration: none;
  color: black;
}
body footer p {
  padding: 5px;
  text-align: center;
}
